$functions-browser-px-font-size: 16px;

$functions-base-px-font-size: 16px !default;

$functions-base-unit: 'rem' !default;

@function trimUnit($value)
{
    @return $value / ($value * 0 + 1);
}

@function getSize($value, $unit: $functions-base-unit)
{
    @if $unit == 'rem' {
        @if unit($value) == 'rem' {
            @return $value;
        } @else if unit($value) == 'px' {
            @return trimUnit($value) / trimUnit($functions-base-px-font-size) * 1rem;
        } @else if unit($value) == '%' {
            @return trimUnit($value) / 100 * 1rem;
        }
    } @else if $unit == 'px' {
        @if unit($value) == 'rem' {
            @return trimUnit($value) * trimUnit($functions-base-px-font-size) * 1px;
        } @else if unit($value) == 'px' {
            @return $value;
        } @else if unit($value) == '%' {
            @return trimUnit($value) / 100 * trimUnit($functions-base-px-font-size) * 1px;
        }
    }

    @return $value;
}
