$type-base-color: black !default;
$type-base-font-size: $functions-base-px-font-size;
$type-base-font-family: sans-serif !default;
$type-base-line-height: 1.5 !default;

/* ---------------------------------------- *\
    <h1>...<h6>
\* ---------------------------------------- */

// color

$type-heading-color: $type-base-color !default;

$type-h1-color: $type-heading-color !default;
$type-h2-color: $type-heading-color !default;
$type-h3-color: $type-heading-color !default;
$type-h4-color: $type-heading-color !default;
$type-h5-color: $type-heading-color !default;
$type-h6-color: $type-heading-color !default;

$type-headings-color: $type-h1-color $type-h2-color $type-h3-color $type-h4-color $type-h5-color $type-h6-color;

// font-family

$type-heading-font-family: $type-base-font-family !default;

$type-h1-font-family: $type-heading-font-family !default;
$type-h2-font-family: $type-heading-font-family !default;
$type-h3-font-family: $type-heading-font-family !default;
$type-h4-font-family: $type-heading-font-family !default;
$type-h5-font-family: $type-heading-font-family !default;
$type-h6-font-family: $type-heading-font-family !default;

$type-headings-font-family: $type-h1-font-family $type-h2-font-family $type-h3-font-family $type-h4-font-family $type-h5-font-family $type-h6-font-family;

// font-size

$type-h1-font-size: 52px !default;
$type-h2-font-size: 2.6rem !default;
$type-h3-font-size: 260% !default;
$type-h4-font-size: 1.25rem !default;
$type-h5-font-size: 1rem !default;
$type-h6-font-size: 0.85rem !default;

$type-headings-font-size: $type-h1-font-size $type-h2-font-size $type-h3-font-size $type-h4-font-size $type-h5-font-size $type-h6-font-size;

// line-height

$type-heading-line-height: $type-base-line-height !default;

$type-h1-line-height: $type-heading-line-height !default;
$type-h2-line-height: $type-heading-line-height !default;
$type-h3-line-height: $type-heading-line-height !default;
$type-h4-line-height: $type-heading-line-height !default;
$type-h5-line-height: $type-heading-line-height !default;
$type-h6-line-height: $type-heading-line-height !default;

$type-headings-line-height: $type-h1-line-height $type-h2-line-height $type-h3-line-height $type-h4-line-height $type-h5-line-height $type-h6-line-height;

// font-weight

$type-heading-font-weight: bold !default;

$type-h1-font-weight: $type-heading-font-weight !default;
$type-h2-font-weight: $type-heading-font-weight !default;
$type-h3-font-weight: $type-heading-font-weight !default;
$type-h4-font-weight: $type-heading-font-weight !default;
$type-h5-font-weight: $type-heading-font-weight !default;
$type-h6-font-weight: $type-heading-font-weight !default;

$type-headings-font-weight: $type-h1-font-weight $type-h2-font-weight $type-h3-font-weight $type-h4-font-weight $type-h5-font-weight $type-h6-font-weight;

// font-style

$type-heading-font-style: normal !default;

$type-h1-font-style: $type-heading-font-style !default;
$type-h2-font-style: $type-heading-font-style !default;
$type-h3-font-style: $type-heading-font-style !default;
$type-h4-font-style: $type-heading-font-style !default;
$type-h5-font-style: $type-heading-font-style !default;
$type-h6-font-style: $type-heading-font-style !default;

$type-headings-font-style: $type-h1-font-style $type-h2-font-style $type-h3-font-style $type-h4-font-style $type-h5-font-style $type-h6-font-style;

/* ---------------------------------------- *\
    <p>
\* ---------------------------------------- */

$type-p-color: $type-base-color !default;
$type-p-font-family: $type-base-font-family !default;
$type-p-font-size: $type-base-font-size !default;
$type-p-margin-top: $type-base-font-size * 0.5 !default;
$type-p-margin-bottom: $type-base-font-size * 0.5 !default;

/* ---------------------------------------- *\
    <a>
\* ---------------------------------------- */

$type-a-color: inherit !default;
$type-a-color-link: $type-a-color !default;
$type-a-color-visited: $type-a-color !default;
$type-a-color-hover: $type-a-color !default;
$type-a-color-active: $type-a-color !default;

$type-a-text-decoration: none !default;
$type-a-text-decoration-link: $type-a-text-decoration !default;
$type-a-text-decoration-visited: $type-a-text-decoration !default;
$type-a-text-decoration-hover: $type-a-text-decoration !default;
$type-a-text-decoration-active: $type-a-text-decoration !default;

/* ---------------------------------------- *\
    <strong> <b> <em> <code> <samp> <kbd>
\* ---------------------------------------- */

$type-strong-font-weight: bold !default;
$type-em-font-style: italic !default;
$type-code-font-family: monospace !default;

/* ---------------------------------------- *\
    Style
\* ---------------------------------------- */

@function getRootFontSize($value) {
    @return getSize(trimUnit($value) / trimUnit($functions-browser-px-font-size) * 1rem);
}

html, body {
    color: $type-base-color;
    font-family: $type-base-font-family;
    font-size: getRootFontSize($type-base-font-size);
    line-height: $type-base-line-height;
}

p {

    margin-top: getSize($type-p-margin-top);
    margin-bottom: getSize($type-p-margin-bottom);
}

@for $i from 1 through 6 {
    h#{$i} {
        color: nth($type-headings-color, $i);
        font-family: nth($type-headings-font-family, $i);
        font-size: getSize(nth($type-headings-font-size, $i));
        line-height: nth($type-headings-line-height, $i);
        font-weight: nth($type-headings-font-weight, $i);
        font-style: nth($type-headings-font-style, $i);
    }
}

a {
    color: $type-a-color;
    text-decoration: $type-a-text-decoration;
    &:link {
        color: $type-a-color-link;
        text-decoration: $type-a-text-decoration-link;
    }
    &:visited {
        color: $type-a-color-visited;
        text-decoration: $type-a-text-decoration-visited;
    }
    &:hover {
        color: $type-a-color-hover;
        text-decoration: $type-a-text-decoration-hover;
    }
    &:active, &.active {
        color: $type-a-color-active;
        text-decoration: $type-a-text-decoration-active;
    }
}

b, strong {
    font-weight: $type-strong-font-weight;
}

em {
    font-style: $type-em-font-style;
}

code, samp, kbd {
    font-family: $type-code-font-family;
}